<div class="container">
    <form action="results" method="GET" id="newsletter">
        <div class="columns is-centered">
            <div class="column is-one-third">
                <input class="input" type="text" placeholder="Name" name="name" />
            </div>

            <div class="column is-one-third">
                <button class="button is-link is-fullwidth">Search</button>
            </div>
        </div>
    </form>

    <figure class="image is-128x128">
            {{bla}}            
            <!--<img src="https://bulma.io/images/placeholders/128x128.png">-->
        </figure>

<!--        <figure class="image is-128x128">
            <img src="https://bulma.io/images/placeholders/128x128.png">
        </figure>

        <figure class="image is-128x128">
            <img src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
    </div>-->

    <br><br>
</div>